.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 85px); /* Header hariç tüm ekran */
}

.productList {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px; /* List ile Buton arası */
}

.addBtn {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: none;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5); /* Turuncu Gölge */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 60px auto; /* Ortala ve alttan boşluk ver */
  transition: background-color 0.3s, transform 0.2s;
}

.addBtn:hover {
  background-color: #e67522;
  transform: scale(1.1);
}