/* --- İÇERİK ve BAŞLIK --- */
.content {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.title {
  color: var(--primary-color);
  font-family: var(--font-family-main);
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 55px;
}

/* --- FORM YAPISI --- */
.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.inputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 36px;
}

.label {
  color: var(--text-secondary);
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.04em;
  margin-bottom: 5px;
  transition: color var(--transition-dur) var(--transition-func);
}

.input {
  border: none;
  border-bottom: 1px solid var(--text-gray);
  padding: 5px 0;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.04em;
  color: var(--text-main);
  background: transparent;
  outline: none;
  transition: border-color var(--transition-dur) var(--transition-func);
}

.input:focus {
  border-bottom: 1px solid var(--primary-color);
}

.input:focus + .label {
  color: var(--primary-color);
}

.error {
  color: var(--error-color);
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  bottom: -30px;
}

/* --- BUTONLAR --- */
.buttonGroup {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.btn {
  width: 182px;
  height: 44px;
  border-radius: 30px;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all var(--transition-dur) var(--transition-func);
}

/* Log in Butonu (Turuncu) */
.btnPrimary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
}

.btnPrimary:hover {
  background-color: var(--btn-hover);
}

/* Register Butonu (Beyaz) */
.btnSecondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btnSecondary:hover {
  background-color: var(--btn-secondary-hover);
}