.loaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  z-index: 9999;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 5px solid rgba(252, 132, 45, 0.3);
  border-top: 5px solid var(--primary-color);
  border-radius: 50%;
  
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}