.container {
  margin-bottom: 32px;
  margin-top: 0px;
}

.dateWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.dateText {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0;
  color: var(--text-main);
}

.icon {
  width: 20px;
  height: 20px;
}

/* =========================================
   TABLET ve DESKTOP TASARIMI (min-width: 768px)
   ========================================= */
@media screen and (min-width: 768px) {
  .container {
    margin-bottom: 60px;
  }

  .dateText {
    font-size: 34px;
  }
}

:global .react-datepicker__day--selected,
:global .react-datepicker__day--keyboard-selected {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  border-radius: 50%;
}

:global .react-datepicker__day--selected:hover,
:global .react-datepicker__day:hover {
  background-color: var(--btn-hover) !important;
  border-radius: 50%;
  color: var(--secondary-color) !important;
}

:global .react-datepicker__day--today {
  color: var(--primary-color);
  font-weight: bold;
}

:global .react-datepicker__header {
  background-color: var(--secondary-color) !important;
  border-bottom: 1px solid var(--text-gray);
}

:global .react-datepicker__day-name {
  color: var(--primary-color);
  font-weight: bold;
}
