.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px; 
  min-height: 100vh; 
  padding: 0; 
  
  background-color: var(--secondary-color);
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0;
  }
}