@font-face {
  font-family: 'Verdana';
  src: url('./assets/fonts/verdana-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Verdana';
  src: url('./assets/fonts/verdana-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* --- RENK PALETİ --- */
  --primary-color: #FC842D;
  --secondary-color: #FFFFFF;
  --text-main: #212121;
  --text-secondary: #9B9FAA;
  --bg-overlay: rgba(33, 33, 33, 0.12);
  --bg-main: #264061;
  --bg-main-hover: #1e334d;
  --text-gray: #E0E0E0;
  --bg-gray: #EFF1F3;
  --bg-gray-2: #F0F1F3;
  --btn-hover: #e67522;
  --btn-secondary-hover: #fff5ee;
  --error-color: #eb5757;
  --body-bg-color: #e5e5e5;
  
  /* --- FONT AYARLARI --- */
  --font-family-main: 'Verdana', sans-serif;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;  
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* --- GEÇİŞ EFEKTLERİ --- */
  --transition-dur: 250ms;
  --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html,body {
  font-family: var(--font-family-main);
  color: var(--text-main);
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--body-bg-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
