:root {
  /* --- RENK PALETİ --- */
  --primary-color: #FC842D;       /* Ana Turuncu */
  --secondary-color: #FFFFFF;     /* Beyaz */
  --text-main: #212121;           /* Koyu Siyah (Ana Metin) */
  --text-secondary: #9B9FAA;      /* Gri (Placeholder, Label) */
  --bg-overlay: rgba(33, 33, 33, 0.12); /* Modal arkası gölgeler */
  --bg-main: #264061;
  --text-gray: #E0E0E0;
  --bg-gray: #EFF1F3;
  --btn-hover: #e67522;
  --btn-secondary-hover: #fff5ee;
  --error-color: #eb5757;
  
  /* --- FONT AYARLARI --- */
  --font-family-main: 'Verdana', sans-serif;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;  
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* --- GEÇİŞ EFEKTLERİ --- */
  --transition-dur: 250ms;
  --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Tüm siteye genel fontu uygulayalım */
body {
  font-family: var(--font-family-main);
  color: var(--text-main);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Resimler asla taşmasın */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Linklerdeki alt çizgiyi kaldıralım */
a {
  text-decoration: none;
}

/* Listelerdeki noktaları kaldıralım */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}