/* --- GENEL AYARLAR (MOBİL) --- */
.header {
  width: 100%;
  position: relative;
  z-index: 100;
  margin: 0;
  padding: 0;
}

.headerTop {
  background-color: transparent;
  border-bottom: 2px solid var(--text-gray);
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 50;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
  z-index: 60;
}
.logoContainer img {
  display: block;
  height: 44px;
  width: auto;
}

.navLoggedOut {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.userInfoDesktopWrapper {
  display: none;
}

.userInfoMobileBar {
  background-color: var(--bg-gray);
  width: 100%;
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 0 20px;
}

/* =========================================
   TABLET TASARIMI (min-width: 768px)
   ========================================= */
@media screen and (min-width: 768px) {
  .userInfoMobileBar {
    display: none !important;
  }

  .headerContent {
    justify-content: flex-start;
    padding: 0 32px;
  }

  .logoContainer {
    margin-right: 20px;
    order: 1;
  }

  .userInfoDesktopWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    padding-right: 0;
    order: 2;
  }

  .navigationWrapper {
    display: block;
    order: 3;
  }

  .navLoggedOut {
    margin-left: auto;
    order: 2;
  }

  .navLoggedIn {
    margin-left: 0;
    order: 3;
  }
}

/* =========================================
   DESKTOP TASARIMI (min-width: 1280px)
   ========================================= */
@media screen and (min-width: 1280px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
  }

  .headerTop {
    border-bottom: none;
    height: 150px;
    align-items: flex-end;
    padding-bottom: 20px;
  }

  .headerContent {
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 16px;
  }

  .logoContainer {
    order: 1;
    margin-right: 0;
    padding-bottom: 0;
  }
  .logoContainer img {
    height: 66px;
  }

  .userInfoDesktopWrapper {
    order: 3;
    margin-left: 0;
    padding-right: 0;
    display: flex;
    align-items: flex-end;
    padding-bottom: 4px;
  }

  .navLoggedIn {
    order: 2;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0px;
    transform: translateY(12px);
    margin-left: 0;
    margin-right: auto;
    padding-left: 20px;
  }

  .navLoggedOut {
    order: 2;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0px;
    transform: translateY(12px);
    margin-left: 0;
    margin-right: auto;
    padding-left: 20px;
  }
}
