.overlay {
  position: fixed;
  margin: 0 auto;
  top: 80px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 320px;
  height: calc(100vh - 80px);
  background-color: var(--bg-main);
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  box-sizing: border-box; 
  overflow: hidden;
}

.menuContainer {
   width: 100%;
   max-width: 100%;
   display: flex;
   justify-content: center;
}

.menuLinks {
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
}

.link {
   font-family: var(--font-family-main);
   font-weight: 700;
   font-size: 18px;
   letter-spacing: 0.04em;
   text-transform: uppercase;
   color: var(--text-secondary);
   text-decoration: none;
   transition: color 0.3s ease;
}

.link:hover,
.activeLink {
   color: var(--secondary-color);
}

/* Tablet (768px) */
@media screen and (min-width: 768px) {
  .overlay {
    width: 100%; 
    max-width: 768px;
  }
}