.overlay {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: var(--bg-main);
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.menuContainer {
   width: 100%;
   display: flex;
   justify-content: center;
}

.menuLinks {
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
}

.link {
   font-family: var(--font-family-main);
   font-weight: 700;
   font-size: 18px;
   letter-spacing: 0.04em;
   text-transform: uppercase;
   color: var(--text-secondary);
   text-decoration: none;
   transition: color 0.3s ease;
}

.link:hover,
.activeLink {
   color: var(--secondary-color);
}