/* --- MOBİL --- */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.headerBar {
  background-color: var(--bg-gray);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 80px;
}

.backBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.backBtn svg {
    stroke: var(--text-main);
}

.form {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  color: var(--text-secondary);
  margin-bottom: 5px;
}

.input {
  border: none;
  border-bottom: 1px solid var(--text-gray);
  padding: 0 0 10px 0;
  font-size: 14px;
  color: var(--text-main);
  background: transparent;
  outline: none;
  width: 100%;
}

.addBtn {
  width: 176px;
  height: 44px;
  margin: 60px auto 0 auto;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 30px;
  font-weight: 700;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestionsList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  border: 1px solid var(--text-gray);
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestionItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid var(--text-gray);
}
.suggestionItem:hover {
  background-color: var(--secondary-color);
}

/* =========================================
   TABLET ve DESKTOP (Inline Form) 
   ========================================= */
.desktopContainer {
  width: 100%;
  height: auto;
  padding-top: 0;
}

.desktopForm {
  flex-direction: row;
  align-items: flex-end;
  padding: 0;
  gap: 0;
}

.desktopForm .inputGroup:first-child {
  width: 240px;
  margin-right: 24px;
  flex: unset;
}

.desktopForm .gramsGroup {
  width: 106px;
  margin-right: 48px;
  flex: unset;
}

.desktopForm .input {
  width: 100%;
  text-align: left;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--text-gray);
}

.desktopForm .gramsGroup .input {
  text-align: right;
}

.desktopAddBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  margin-bottom: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
}

.desktopAddBtn svg {
  width: 20px;
  height: 20px;
  fill: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .input {
    border-bottom: 1px solid var(--text-gray);
  }
}
