/* --- MOBIL--- */
.formContainer {
  width: 100%;
}

.title {
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0;
  color: var(--text-main);
  margin-bottom: 34px;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  margin-bottom: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.inputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 240px;
  height: 24px;
}

.label {
  font-weight: 700;
  font-size: 14px;
  color: var(--text-secondary);
  margin-bottom: 0;
  letter-spacing: 0.04em;
  width: 100%;
  height: 16px;
}

.input {
  border: none;
  border-bottom: 1px solid var(--text-gray);
  background: transparent;
  padding: 0 0 10px 0;
  font-size: 14px;
  font-weight: 700;
  color: var(--text-main);
  outline: none;
  transition: border-color 0.3s;
  text-align: right;
  width: 100%;
  height: 24px;
  margin-top: -16px;
}

.input:focus {
  border-bottom: 1px solid var(--primary-color);
}

.error {
  position: absolute;
  bottom: -20px;
  font-size: 10px;
  color: var(--error-color);
}

.radioGroupWrapper {
  margin-top: 0;
  width: 100%;
  height: 45px;
  margin-bottom: 0;
}

.radioGroup {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
}

.radioInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radioCustom {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid var(--text-gray);
  border-radius: 50%;
  position: relative;
  transition: all 0.2s;
}

.radioInput:checked ~ .radioCustom {
  border-color: var(--primary-color);
}

.radioInput:checked ~ .radioCustom::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--primary-color);
}

.radioTextActive {
  font-weight: 700;
  color: var(--primary-color);
}

.radioText {
  color: var(--text-secondary);
}

.submitBtn {
  width: 210px;
  height: 43px;
  margin: 0 auto;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 30px;
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitBtn:hover {
  background-color: var(--btn-hover);
}

/* =========================================
   TABLET TASARIMI (min-width: 768px)
   ========================================= */
@media screen and (min-width: 768px) {
  .formContainer {
    padding-top: 0;
  }

  .title {
    font-size: 34px;
    margin-bottom: 68px;
    width: 100%;
    height: 85px;
  }

  .inputsWrapper {
    flex-direction: row;
    gap: 32px;
    height: 188px;
    margin-bottom: 60px;
  }

  .column {
    width: 240px;
    gap: 40px;
  }

  .inputGroup {
    height: 36px;
    width: 240px;
    max-width: none;
  }

  .label {
    height: 16px;
    width: 240px;
    margin-bottom: 0;
  }

  .input {
    font-size: 14px;
    text-align: right;
    height: 20px;
    width: 240px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .radioGroupWrapper {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .radioGroupWrapper .label {
    border-bottom: 1px solid var(--text-gray);
    padding-bottom: 20px;
    width: 240px;
    height: 36px;
    margin-bottom: 8px;
  }

  .submitBtn {
    margin: 0;
  }
}

/* =========================================
   DESKTOP TASARIMI (min-width: 1280px)
   ========================================= */
@media screen and (min-width: 1280px) {
  .formContainer {
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 100%;
    padding-top: 0;
    z-index: 1;
  }

  .submitBtn {
    margin-left: auto;
    margin-right: 0;
  }
}
